@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html,
body,
[class*="css"]{
    font-family:Poppins,sans-serif;
}

.stApp{
    background:#0B1120;
}

/* Sidebar */

section[data-testid="stSidebar"]{
    background:#111827;
    border-right:1px solid #222;
}

/* Headings */

h1,h2,h3,h4{
    color:white!important;
}

/* Metric Cards */

.metric-card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.25);

transition:.3s;

margin-bottom:15px;

}

.metric-card:hover{

transform:translateY(-6px);

}

.metric-title{

font-size:18px;

font-weight:600;

color:#6B7280;

}

.metric-value{

font-size:42px;

font-weight:800;

margin-top:12px;

}

.blue{

color:#2563EB;

}

.green{

color:#10B981;

}

.orange{

color:#F59E0B;

}

.red{

color:#EF4444;

}

.purple{

color:#8B5CF6;

}

/* Page Title */

.page-title{

font-size:58px;

font-weight:800;

color:white;

margin-bottom:0px;

}

.subtitle{

font-size:24px;

font-weight:600;

background:linear-gradient(90deg,#60A5FA,#A855F7,#FFFFFF);

background-clip:text;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

margin-bottom:30px;

}